.tod{
  padding:10px;

}
.date{
  padding:8px;
  font-size: 15px;
}
button{
  padding:12px;
  padding-left:30px ;
  padding-right:30px;
  color:white;
  background-color: green;
  border: none;
}
.delet{
  background-color: rgb(174, 13, 13);
  
}
span{
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
pre{
  font-size: 20px;
}
.todo-grid,.todo-input-grid{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 20px;
  row-gap: 10px;
}
.todo-input-grid{
  margin-bottom: 20px;
}